%h1 Listing owners

%table
  %tr
    %th Ownername
    %th
    %th
    %th

  - @owners.each do |owner|
    %tr
      %td= owner.ownername
      %td= link_to 'Show', owner
      %td= link_to 'Edit', edit_owner_path(owner)
      %td= link_to 'Destroy', owner, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Owner', new_owner_path
