= render 'sessions/header'
%br/

%h1 Listing tickets

%form{:method => "get", :action => "/tickets"}
  %label{:for => "lookup"} Lookup
  %input#article{:name => "lookup", :size => "30", :type => "text"}/
  %input{:name => "commit", :type => "submit", :value => "Search"}/

- if @try_again
  %span.try_again
    No search result for: "#{@lookup}" , try again please
- else
  %span.try_again
    = @lookup ? "Here you have search results for \: \"#{@lookup}\""  : ""
%table.listing_tickets
  %tr
    %th Reference
    %th Name
    %th Email
    %th Department
    %th Status
    %th Subject
    %th
    %th
  - @statuses.each do |status|
    %tr
      %td{:colspan => "8", :class => "statusname"  }= status.statusname
      
    - @tickets.each do |ticket|
      - if ticket.status_id==status.id  
        %tr
          %td= ticket.reference
          %td= ticket.name
          %td= ticket.email
          %td= ticket.department.depname  
          %td= ticket.status.statusname
          %td.subject_all= ticket.subject
          -#  %td= link_to 'Show', ticket
          %td= link_to 'take it', edit_ticket_path(ticket)
          %td= link_to 'DELETE', ticket, :confirm => 'Are you sure?', :method => :delete

%br


